{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/detail.css">
<div class="detailRow">
    <span class="title">{{show.title}} &nbsp;&nbsp;&nbsp;</span><span class="genre">{{show.genre}}&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="duration">{{show.duration}} minutes&nbsp;&nbsp;&nbsp;&nbsp;</span>  <span>({{show.release_date}})</span>
    
    {% if favorited == true %}
    <span><a href="{{url_for('users.favoriteShow', show_id=show.id)}}">★</a></span>
    {% else %}
    <span><a href="{{url_for('users.favoriteShow', show_id=show.id)}}">☆</a></span>
    {% endif %}

    <br><br>
    <div>{{show.description}}</div>
</div>

    <br>
    <a href="{{url_for('shows.search')}}">back</a>

{% endblock %}