{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/detail.css">
<h1 class="center">Favorites</h1>
    {% for show in favorites %}
    <div class="center">
        <div class="detailGrid">
            <div>{{show.title}}</div><div>{{show.genre}}</div><div>{{show.duration}} minutes</div>
            <div class="details"><a class="removeDecoration" href="{{url_for('shows.details', id=show.id)}}">Details: {{show.description[0:100]}} {% if show.description|length > 100 %} ...{%endif%}</a></div>
        </div>
    </div>
    {% endfor %}

    <a href="{{url_for('shows.search')}}">back</a>
{% endblock %}