{% extends "base.html" %}
{% block content %}

{% if current_user.is_authenticated %}
<div class="gridbase">
    <a class="removeDecoration" href="{{url_for('shows.search')}}"><div class="option btn">Search</div></a>
    <a class="removeDecoration" href="{{url_for('users.favorites')}}"><div class="option btn">Favorites</div></a>
    <a class="removeDecoration" href="{{url_for('users.logout')}}"><div class="option btn">Log out</div></a>
</div>
{% else %}
    <div class="gridbase">
        <a class="removeDecoration" href="{{url_for('users.login')}}"><div class="option btn">Log in</div></a>
        <a class="removeDecoration"  href="{{url_for('users.register')}}"><div class="option btn">Register</div></a>
    </div>
{% endif %}

{% endblock %}