:root {
    font-size: 16px;
}

.navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

.navItem{
    text-align: center;
    width: 25%;
    max-width: 25rem;
    height: 50px;
    flex-shrink: 1;
}

body{
    background-image: linear-gradient(rgb(252, 180, 180), #e66b6b);
    background-attachment: fixed;
    font-family: Karla;
    font-weight: 400;
    margin: 0;
    height: 100vh;
}

/* .container{
    display: flex;
    justify-content: center;
} */

#head{
    text-align: center;
    color: #eb0000;
    font-size: 3rem;
    font-weight: 700;
    margin: 2rem;
}

.gridbase{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 100px;
    justify-content: center;
    align-items: center;
    border-width: 0px;
    border-style: none;
}

.option{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    height: 50px;
    width: 100%;
    margin: 2rem;
  
    background-color:#df6a34;
    color: white;
    text-decoration: none;
  
    border-style: none;
    border-radius: 5px;
  
    box-shadow: 0px 5px 10px #a74e25;
    transition: all .5s;
  }
  
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: #bb5729;
    transition: all 1s;
}

.removeDecoration{
    text-decoration: none;
    color: white;
}

.removeDecoration:hover{
    text-decoration: none;
}

.center{
    display: flex;
    justify-content: center;
}

.displayRows{
    display: flex;
    flex-wrap: wrap;
}